*, div, html, body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background-color: #06aed5;
}
.menu h2{
	font-size: 1.5em;
	margin-top: 1%;
}
.navbar{
	width: 100%;
	background-color: #06aed5;
	display: flex;
}
.navbar a {
	text-decoration: none;
	color: inherit;

}
.navbarText{
	display: inline-block;
	margin: 2%;
	font-family: "Lucida Handwriting";
	font-weight: bold;
	font-size: 2em;
}
.navComponent{
	justify-content: center;
	align-items: center;
	display: none;
	margin: auto;
}
.hamburger{/*style the hamburgur menu icon*/
	display: flex;
	flex-direction: column;
	width: 25px;
	height: 25px;
	margin: 3%;
	background-color: inherit;
	margin-left: auto;
}
.hamBar{
	height: 33%;
	background-color: rgba(0, 0, 0, .5);
	border: 1px solid #06aed5;
	border-radius: 5px;
	border-collapse: none;
}
.popup{
	position: absolute;
	display:  flex;
	flex-direction: column;
	text-align: center;
	padding: 2%, 0%, 2%, 0%;
	width: 100%;
	border-collapse: collapse;
	z-index: 3;
	background-color: #f2f4f3;
}
.popupItem{
	padding: 3%;
	border: 1px solid grey;
	z-index: 3;
}
h2{
	font-size: 3em;
	font-family: Helvetica;
}
.textContainer{
	background-color: #f2f4f3;
	padding: 3%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
h1{
	font-size: 2.5em;
	color: dd1c1a;
	font-weight: bold;
	font-family: "Lucida Handwriting";
}
h3{
	color: black;
	font-weight: bold;
	font-family: Helvetica;
}
.button{
	width:  96%;
	margin: 2%;
	padding: 2%;
	background-color: #06aed5;
	border: 1px solid black;
	border-radius: 3px;
	font-family: Helvetica;
	font-weight: bold;
}
.hiddenImg{
	display: none;
}
form {
	display: flex;
	flex-direction: column;
}
input{
	padding: 1%;
}
input[type=submit]{
	width: 50%;
}
input [type='checkbox']{
	display: inline-block;
	float: right;
}
.orderNum{
	width: 10%;
}
.menuButton{
	padding: 2%;
	background-color: #f2f4f3;
	border: 1px solid black;
	width: 40%;
	margin: 1%;
	margin-left: 0%;
}
p{
	font-family: Helvetica;
}
@media only screen and (min-width: 768px){
	.navbar{
		display: flex;
		flex-direction: row;
	}
	.navbarText{
		margin-right: 15%;
	}
	.navComponent{
		display: inherit;
	}
	p{
		font-size: 1.5em;
	}
	.hamburger{
		display: none;
	}
	
	.button{
		width:  40%;
		margin: .5%;
		padding: 1%;
		margin-left: 30%;
	}
	h4{
		font-size: 1.5em;
	}
	h3{
		font-size: 1.75em;
	}
	input{
		padding: .5%;
		width: 40%;
		margin: .1%;
		margin-left: 0%;
	}
	input[type='number']{
		width: 3.5%;
	}
	input[type='date']{
		width: 15%;
	}
	input[type='submit']{
		width: 15%;
	}
	#fphone{
		width: 20%;
	}
	.menuButton{
	padding: .5%;
	width: 10%;
	}
	.button{
		background-color: #f0c808;
	}
	.button:hover{
		box-shadow: 2px 2px 5px black;
	}
	label{
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 560px){
		.hiddenText{
		display: block;
	}
	.hiddenImg{
		display: inline-block;
		flex: .5;
		margin: 2%;
		height: 25vw;
	}
		.displayArea{
		display: flex;
		background-color: #f2f4f3;
	}
}