*, div, html, body{/*reset the page's base settings so that content stretches the whole width*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{/*setup for parralax purposes*/
	overflow: hidden;
}
body{/*this is also mostly paralax setup*/
	background-color: #06aed5;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 1px;
	-webkit-perspective: 1px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}
.navbar{
	width: 100%;
	background-color: #06aed5;
	display: flex;
	
}
.navbar a {/*adjust the look of the elemnts of the navbar*/
	text-decoration: none;
	color: inherit;
}
.navbar a:hover{
	cursor: pointer;
}
.navbarText{/*style the page title*/
	display: inline-block;
	margin: 2%;
	font-family:"Lucida Handwriting";
	font-weight: bold;
	font-size: 2em;
}
.navComponent{
	justify-content: center;
	align-items: center;
	display: none;
	margin: auto;
}
.hamburger{/*style the hamburgur menu icon*/
	display: flex;
	flex-direction: column;
	width: 25px;
	height: 25px;
	margin: 3%;
	background-color: inherit;
	margin-left: auto;
}
.hamBar{/*add the rounded corners to the individual parts of the hamburgur menu*/
	height: 33%;
	background-color: rgba(0, 0, 0, .5);
	border: 1px solid #06aed5;
	border-radius: 5px;
	border-collapse: none;
}
.popup{/*style the popup so that the contents are displayed in a vertical stack*/
	position: absolute;
	display:  flex;
	flex-direction: column;
	text-align: center;
	padding: 2%, 0%, 2%, 0%;
	width: 100%;
	border-collapse: collapse;
	z-index: 3;
	background-color: #f2f4f3;
}
.popupItem{
	padding: 3%;
	border: 1px solid grey;
	z-index: 3;
}
.popupItem h2{
	font-size: 1.5em;
}
h2{
	font-size: 3em;
	font-family: Helvetica;
}
.textContainer{/*setup a general use text containing element*/
	background-color: #f2f4f3;
	padding: 3%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
h1{
	font-size: 2.5em;
	color: dd1c1a;
	font-weight: bold;
	font-family: "Lucida Handwriting";
}
h3{
	color: black;
	font-weight: bold;
	font-family: Helvetica;
}
h4{
	font-family: Helvetica;
}
.hiddenImg{/*hide the hidden image since this is the part of the stylesheet for mobile*/
	display: none;
}
.innerText{
	flex: 1;
	z-index: 1;
}

.parallax{/*begin the parralax styling*/
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	}
.parallax_layer{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.parallax_layer--base{
	transform: translateZ(0);
}
.parallax_layer--back{/*move the backgroud image back 1 px and scale it up so that it looks right and scrolls more slowly. also move it up so that itfalls properly into place*/
	transform: translateZ(-1px) scale(2) translateY(-21vh);
}
.parallax_group{/*create a style for the second round of parralax images*/
	position: relative;
	height: 125vh;
	transform-style: preserve-3d;
}
.imageContainer1, .imageContainer2{
	padding: 1vh;
	justify-content: center;
	align-content: center;
}
.imageContainer1, .imageContainer1 img{
	display: none;
}
.imageContainer2 img{
	width: 100%;
}
.button{/*style the navigation buttons on the home page*/
	width:  96%;
	margin: 2%;
	padding: 2%;
	background-color: #06aed5;
	border: 1px solid black;
	border-radius: 3px;
	font-family: Helvetica;
	font-weight: bold;
}
.reveiws{/*display the reveiws in a collumn*/
	background-color: #f0c808;
	padding: 3%;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.reveiw{
	background-color: #f2f4f3;
	border: 1px solid black;
	border-radius: 4px;
	margin: 2%;
	padding: 2%;
}
.cakeimg{
	width: 100%; 
	transform: translateY(75vh) scale(2.5);
}
.hiddenText{
	display: none;
}
form {
	display: flex;
	flex-direction: column;
}
input{
	padding: 1%;
}
input[type=submit]{/*style just for the submit button*/
	width: 50%;
}
/*style for the image grid*/
.row{ 
	padding: .5%;
	display: flex;
	flex-wrap: wrap;
	padding: 0%, 2%;
	flex-direction: column;
}
.column{
	flex: 1;
}
.column img{/*addint this position:relative is required for the box-shadow to appear on top of other images*/
	vertical-align: middle;
	width: 100%;
	position: relative;
}
.column img:hover{
	box-shadow: 5px 5px 30px black;
	z-index: 1;
	}
input [type='checkbox']{
	display: inline-block;
	float: right;
}
.orderNum{
	width: 10%;
}
.locationBox{
	width: 80%;
	margin: auto;
	background-color: f2f4f3;
	padding: 2%;
}
p{
	font-family: Helvetica;
}
@media only screen and (min-width: 768px){/*this style effects non-mobile sites*/
	.locationBox{/*make the location items show up horizontally on big screens*/
	width: 50%;
	display: flex;
	}
	.row{ /*make the rows of the image grid appear horizonally rather than vertically*/
	flex-direction: row;
	}
	.column{/*change the columns of the image grid to take up 1/3 of the screen rather than all of it*/
	flex: 1;
	max-width: 33%;
	}
	input{
		width: 75%;
	}
	input[type=submit]{
	width: 10%;
	}
	.navbar{
		display: flex;
		flex-direction: row;
	}
	.navbarText{
		margin-right: 15%;
	}
	.navComponent{
		display: inherit;
	}
	p{
		font-size: 1.5em;
	}
	.hamburger{
		display: none;
	}
	
	.parallax{/*change some parts of the parralax setup so it isn't broken*/
		perspective: 1px;
		height: 135vh;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.parallax_layer{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.parallax_layer--base{
		transform: translateZ(0);
	}
	.parallax_layer--back{
		transform: translateZ(-1px) scale(2) translateY(-21vh);
	}
	.parallax_group{
		position: relative;
		height: 185vh;
		transform-style: preserve-3d;
	}
	.cakeimg{
		width: 100%; 
		transform: translateY(50vh);
		margin: auto;
	}
	.button{
		width:  40%;
		margin: .5%;
		padding: 1%;
		margin-left: 30%;
	}
	.reveiws{/*make the reveiws appear ina  line rather than a column*/
		padding: 1%;
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.reveiw{
		margin: 1%;
		padding: 2%;
		flex: 1;
	}
	h4{
		font-size: 1.5em;
	}
	h3{
		font-size: 1.75em;
	}
	.reveiw:hover{/*add a hover effect to the reviews*/
		box-shadow: 5px 5px 10px black;
	}
	.button{
		background-color: #f0c808;
	}
	.button:hover{
		box-shadow: 2px 2px 5px black;
	}
}

@media only screen and (min-width: 560px){/*change a couple things on large tablets/small computers*/
		.hiddenText{
		display: block;
	}
	.hiddenImg{
		display: inline-block;
		flex: 1;
		margin: 2%;
		height: 40vw;
	}
		.displayArea{
		display: flex;
		background-color: #f2f4f3;
	}
}