*, div, html, body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	overflow: hidden;
}
body{
	background-color: #06aed5;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 1px;
	-webkit-perspective: 1px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}
.navbar{
	width: 100%;
	background-color: #06aed5;
	
}
.navbar a {
	text-decoration: none;
	color: inherit;

}
.navbarText{
	display: inline-block;
	margin: 2%;
	font-family: Helvetica;
	font-weight: bold;
}
.navComponent{
	justify-content: center;
	align-items: center;
	display: none;
	margin: auto;
}
.hamburger{
	display: flex;
	flex-direction: column;
	float: right;
	width: 25px;
	height: 25px;
	margin: 1%;
	background-color: inherit;
}
.hamBar{
	height: 33%;
	background-color: rgba(0, 0, 0, .5);
	border: 1px solid #06aed5;
	border-radius: 5px;
	border-collapse: none;
}
.popup{
	position: absolute;
	display:  flex;
	flex-direction: column;
	text-align: center;
	padding: 2%, 0%, 2%, 0%;
	width: 100%;
	border-collapse: collapse;
	z-index: 3;
	background-color: #f2f4f3;
}
.popupItem{
	padding: 3%;
	border: 1px solid grey;
	z-index: 3;
}
h2{
	font-size: 20px;
}
.textContainer{
	background-color: #f2f4f3;
	padding: 3%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
h1{
	font-size: 30px;
	color: dd1c1a;
	font-weight: bold;
	font-family: Helvetica;
}
h3{
	color: black;
	font-weight: bold;
	font-family: Helvetica;
}
h4{
	font-family: Helvetica;
}
.hiddenImg{
	display: none;
}
.innerText{
	flex: 1;
	z-index: 1;
}

.parallax{
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	}
.parallax_layer{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.parallax_layer--base{
	transform: translateZ(0);
}
.parallax_layer--back{
	transform: translateZ(-1px) scale(2) translateY(-21vh);
}
.parallax_group{
	position: relative;
	height: 125vh;
	transform-style: preserve-3d;
}
.imageContainer1, .imageContainer2{
	padding: 1vh;
	justify-content: center;
	align-content: center;
}
.imageContainer1, .imageContainer1 img{
	display: none;
}
.imageContainer2 img{
	width: 100%;
}
.button{
	width:  96%;
	margin: 2%;
	padding: 2%;
	background-color: #06aed5;
	border: 1px solid black;
	border-radius: 3px;
	font-family: Helvetica;
	font-weight: bold;
}
.reveiws{
	background-color: #f2f4f3;
	padding: 3%;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.reveiw{
	background-color: #f0c808;
	border: 1px solid black;
	border-radius: 4px;
	margin: 2%;
	padding: 2%;
}
.cakeimg{
	width: 100%; 
	transform: translateY(75vh) scale(2.5);
}
.hiddenText{
	display: none;
}
form {
	display: flex;
	flex-direction: column;
}
input{
	padding: 1%;
}
input[type=submit]{
	width: 50%;
}
/*style for the image grid*/
.row{ 
	display: flex;
	flex-wrap: wrap;
	padding: 0%, 2%;
}
.column{
	flex: 1;
	max-width: 33%;
}
.column img{
	vertical-align: middle;
	width: 100%;
	position: relative;
}
.column img:hover{
	box-shadow: 5px 5px 30px black;
	z-index: 1;
	}


@media only screen and (min-width: 768px){
	input{
		width: 75%;
	}
	input[type=submit]{
	width: 10%;
	}
	.navbar{
		display: flex;
		flex-direction: row;
	}
	.navbarText{
		margin-right: 15%;
	}
	.navComponent{
		display: inherit;
	}
	p{
		font-size: 1.5em;
	}
	.hamburger{
		display: none;
	}
	
	.parallax{
		perspective: 1px;
		height: 135vh;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.parallax_layer{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.parallax_layer--base{
		transform: translateZ(0);
	}
	.parallax_layer--back{
		transform: translateZ(-1px) scale(2) translateY(-21vh);
	}
	.parallax_group{
		position: relative;
		height: 185vh;
		transform-style: preserve-3d;
	}
	.cakeimg{
		width: 100%; 
		transform: translateY(50vh);
		margin: auto;
	}
	.button{
		width:  40%;
		margin: .5%;
		padding: 1%;
		margin-left: 30%;
	}
	.reveiws{
		padding: 1%;
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.reveiw{
		margin: 1%;
		padding: 2%;
		flex: 1;
	}
	h4{
		font-size: 1.5em;
	}
	h3{
		font-size: 1.75em;
	}
	.reveiw:hover{
		box-shadow: 5px 5px 10px black;
	}
	.button{
		background-color: #f0c808;
	}
	.button:hover{
		box-shadow: 2px 2px 5px black;
	}
}

@media only screen and (min-width: 560px){
		.hiddenText{
		display: block;
	}
	.hiddenImg{
		display: inline-block;
		flex: 1;
		margin: 2%;
		height: 40vw;
	}
		.displayArea{
		display: flex;
		background-color: #f2f4f3;
	}
}